.footer__subscribe {
  background: #7AA9A3;
  border-radius: 77px;
  padding: 19px;
  max-width: 295px;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  opacity: 1;
  transition-duration: 2s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin: -111px 380px auto auto;
  position: relative;
}

.footer__subscribe:hover{
  background: #D95F3B;
}